.dashboard {
    background: $grey;
    position: relative;
}

.userName {
    @include headingText(12rem);
    margin-bottom: 50px;
}

.dashboardContainer {
    width: 100%;
}

.dashboardLink {
    position: relative;
    width: calc(33.33% - 40px);
    margin: 20px;
    float: left; 
}

.dashboardOption, 
.dashboardButton {
    width: 100%;
    min-height: 300px;
    border: 4px solid white;
    padding: 20px;
    transition: 0.2s all;
    color: black;
    text-align: center;
    z-index: 10;
    hyphens: auto;
    background: #f0f0f0;
    h3 {
        border-bottom: 4px solid $yellow;
        margin-bottom: 20px;
        color: black;
    }
}

.dashboardOption h3 {
    padding-top: 60px;
}

.instructions {
    margin-top: 50px;
    li {
        margin: 10px 0;
    }
}

.dashboardGroupContainer h3 {
    text-align: center;
    margin: 35px 0 25px 0;
    font-size: 3rem;
}

// Styles for delete buttons on dasboardOptions div
.removeMovie {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  background: none;
  color: $mainBlue;
  border: none;
  font-size: 2.5rem;
}

.removeMovie:focus {
    color: $yellow;
}

// Styles for add/join group buttons
.dashboardButton {
    width: calc(50% - 40px);
    min-height: 250px;
    border: 4px solid white;
    padding: 20px;
    margin: 20px;
    transition: 0.2s all;
    color: white;
    text-align: center;
    z-index: 10;
    background: $mainBlue;
    h3 {
        color: white;
    }
}

.dashboardOption:hover {
    border-color: $mainBlue;
}

.dashboardButton:hover, 
.dashboardButton:focus {
    border-color: $yellow;
}
