.dashboard {
    height: 100%;
    background: $grey;
    position: relative;
}

.userName {
    @include headingText(12rem);
    margin-bottom: 50px;
}

.dashboardContainer {
    width: 100%;
    margin-top: 100px;
}

.dashboardLink {
    position: relative;
    width: calc(33.33% - 40px);
    margin: 20px;
    float: left;
    
}

.dashboardOption, .dashboardButton {
    width: 100%;
    min-height: 300px;
    border: 4px solid white;
    padding: 20px;
    transition: 0.2s all;
    color: black;
    text-align: center;
    z-index: 10;
    background: #f0f0f0;
    h3 {
        border-bottom: 4px solid $yellow;
        margin-bottom: 20px;
        color: black;
    }
}

.dashboardOption h3 {
    padding-top: 100px;
}

// Styles for delete buttons on dasboardOptions div
.removeMovie {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  background: none;
  color: $mainBlue;
  border: none;
  font-size: 2.5rem;
}

.removeMovie:focus {
    color: $yellow;
}

// Styles for add/join group buttons
.dashboardButton {
    width: calc(50% - 40px);
    min-height: 250px;
    border: 4px solid white;
    padding: 20px;
    margin: 20px;
    transition: 0.2s all;
    color: white;
    text-align: center;
    z-index: 10;
    background: $mainBlue;
    h3 {
        color: white;
    }
}

.dashboardOption:hover {
    border-color: $mainBlue;
}

.dashboardButton:hover {
    border-color: $yellow;
}

.dashboardButton:focus {
    border-color: $yellow;
}

//styles for back buttons in page headers
.backButton {
    clear: both;
    background: none;
    color: white;
    border: 4px solid white;
    padding: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.2s all;
    @include headingText(2rem);
    cursor: pointer;
}

.backButton:hover {
    border-color: $yellow;
}

.backButton:focus {
    border-color: $yellow;
}