.dashboard {
    height: 100%;
    background: $grey;
    position: relative;
}

.userName {
    @include headingText(12rem);
    margin-bottom: 50px;
}

.dashboardContainer {
    width: 100%;
    margin-top: 100px;
}

.dashboardOption {
    position: relative;
    width: calc(33.33% - 40px);
    min-height: 300px;
    float: left;
    border: 4px solid white;
    margin: 20px 40px 20px 0;
    padding: 20px;
    transition: 0.2s all;
    color: black;
    // transform: rotate(25deg);
    h3 {
        border-bottom: 4px solid $yellow;
        margin-bottom: 20px;
        color: black;
    }
    p {
        color: black;
    }
}

.dashboardOption:hover {
    border-color: $mainBlue;
}

.dashboardOption::before {
    content: '';
    width: 100px;
    height: 100px;
    background: $yellow;
    color: white;
}

.test {
    display: inline-block;
    margin-right: 0;
    float: left;
}

.logOutButton {
    clear: both;
    background: none;
    color: white;
    border: 4px solid white;
    padding: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 20px;
    @include headingText(2rem);
}

.logOutButton:hover {
    border-color: $yellow;
}