.movieContainer {
  background: $grey;
}

.movieCard {
  border: 4px solid white;
  width: calc(33.33% - 40px);
  margin: 20px;
  float: left;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.buttonContainer button, .favButtonContainer button {
  width: 50%;
  padding: 10px 0;
  background: $mainBlue;
  border: none;
  border-top: 4px solid white;
  color: white;
  transition: all 0.2s;
  &:hover {
    background: $yellow;
    color: $mainBlue;
  }
  &:focus {
    background: $yellow;
  }
}

.favButtonContainer button {
  width: 100%;
}

.searchLink {
  color: white;
  padding-top: 50px;
  i {
    float: left;
    margin: 10px 10px 0 0;
  }
  p {
    float: left;
  }
}

.searchLink:hover {
  color: $yellow;
}

.searchLinkContainer {
  border: 4px solid white;
  width: 100%;
  padding: 10px;
}

.searchLinkContainer:focus {
  border-color: $yellow;
}

.runningCountContainer {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  background: $mainBlue;
  border: none;
  border-top: 4px solid white;
  color: white;
}
