.movieCard {
  border: 2px solid red;
  width: calc(33.3% - 40px);
  // width: 100%;
  margin: 20px;
  float: left;
  height: 500px;
  .imageContainer {
    float: left;
    border: 2px blue solid;
    min-height: 100%;
    img {
      display: block;
      max-height: 100%;
    }
  }
}
