// COLORS
$mainBlue: #004ea8;
$grey: #c5c5c5;
$yellow: #f1c400;

// FONTS
$primaryFont: 'Montserrat', sans-serif;

// MIXINS

@mixin bodyText () {
    font-weight: 400;
    font-family: $primaryFont;
    font-size: 1.8rem;
}

@mixin headingText($size) {
    font-weight: 800;
    font-size: $size;
    text-transform: uppercase;
    font-family: $primaryFont;
}

html {
    font-size: 62.5%;
    position: relative;
}

body {
    font-size: 1.6rem;
    @include bodyText;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
    // border: 2px solid green;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1 {
    @include headingText(10rem);
    position: relative;
    z-index: 10;
}

h2 {
    @include headingText(5rem);
}

h3 {
    @include headingText(2.5rem);
}

.particles {
  position: absolute;
  height: 90%;
  width: 100%;
  z-index: 1;
}